# Server Configuration
SERVER_PORT=8080                                    # Puerto donde se ejecutará la API

# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://<url>:<port>/<database>    # URL de conexión a PostgreSQL
SPRING_DATASOURCE_USERNAME=username                # Usuario de base de datos
SPRING_DATASOURCE_PASSWORD=password                # Contraseña de base de datos

# Hibernate Configuration
SPRING_JPA_HIBERNATE_DDL_AUTO=update               # Estrategia de generación de esquema (create, create-drop, none, update, validate)
SPRING_JPA_SHOW_SQL=true                           # Muestra SQL en logs (true/false)
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true    # Formatea SQL en logs para mejor legibilidad (true/false)

# MQTT configuration
MQTT_BROKER_URL=tcp://<url>:<port>                 # Dirección del broker MQTT
MQTT_CLIENT_ID=idsa-client-api                     # ID único del cliente MQTT
MQTT_USERNAME=mqtt_user                            # Usuario para autenticación MQTT (opcional)
MQTT_PASSWORD=mqtt_password                        # Contraseña para autenticación MQTT (opcional)
MQTT_TOPIC=mytopic/example                         # Tema MQTT al que suscribirse
MQTT_QOS=1                                         # Calidad de servicio (0=máximo una vez, 1=al menos una vez, 2=exactamente una vez)

# File Upload Configuration
FILE_STORAGE_BASE_PATH=../storage/images           # Ruta base para almacenar archivos subidos

# Email configuration
MAIL_HOST=smtp.gmail.com                           # Host del servidor SMTP
MAIL_PORT=587                                      # Puerto del servidor SMTP
MAIL_USERNAME=username@gmail.com                   # Nombre de usuario para autenticación SMTP
MAIL_PASSWORD=password                             # Contraseña para autenticación SMTP

# Frontend URL
FRONTEND_URL=http://localhost:4200                 # URL del frontend

# Cors Configuration
CORS_ALLOWED_ORIGINS=http://localhost:4200         # Orígenes permitidos para CORS

# JWT Configuration
JWT_SECRET=jwt_secret_key                          # Clave secreta para firmar JWT
JWT_EXPIRATION=86400000                            # Tiempo de expiración del JWT en milisegundos (1 día)

# Email Verification Configuration
JWT_VERIFICATION_SECRET=verification_secret_key   # Clave secreta para firmar JWT de verificación de correo
JWT_VERIFICATION_EXPIRATION=86400000              # Tiempo de expiración del JWT de verificación en milisegundos (1 día)

# Admin Configuration
ADMIN_EMAIL=test@email.com                        # Correo electrónico del administrador
ADMIN_NAME=Test                                   # Nombre del administrador
ADMIN_FIRST_SURNAME=Test                          # Primer apellido del administrador
ADMIN_SECOND_SURNAME=Test                         # Segundo apellido del administrador
ADMIN_PHONE_NUMBER=1234567890                     # Número de teléfono del administrador
